<html>
    <div>
        <h1>
            {% if request.user.is_authenticated == True %}
            Authentication Successful
            <div>
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    {{ pass_form.as_p }}
                    <button type="submit">submit</button>
                </form>
            </div>
                {% if password_entries %}
                    {% for entry in password_entries %}
                        <div>
                            {% if entry %}
                            <hr>
                                <div>
                                    <p>{{ entry.site_name }}</p>
                                    <p>{{ entry.auth_id }}</p>
                                    <p>{{ entry.site_url }}</p>
                                    <p>{{ entry.password }}</p>
                                </div>
                                <button><a href="{% url 'delete-password' pk=entry.id %}">Delete</a></button>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
            something went wrong! :()
            {% endif %}
        </h1>
    </div>
</html>